<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="src/scss/_normalize.css">
    <link rel="stylesheet" href="src/css/style.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="src/js/tmpl.js"></script>
    <script type="text/javascript" src="src/js/jCarousel.js"></script>
    <script type="text/javascript" src="src/js/script.js"></script>
</head>
<body>
    <header class="header clearfix">
        <div class="header-top">
            <a href="#" class="header-top__login">Log in</a>
            <a href="#" class="header-top__login header-top__login--signup">Sign up</a>
            <a href="#" class="header-top__logo">URLAUBSGLÜCK</a>
        </div>
        <div class="header-headline">
            <h1 class="header-headline__h1">Share your holiday dreams</h1>
            <h2 class="header-headline__h2">And find the perfect partner to fullfill it</h2>
            <a href="#" class="header-headline__btn">Find your holiday partner</a>
        </div>

    </header>


    <!--jCarousel-->

<section class="sliders clearfix">
            <h3 class="headline">How Urlaubsglück works?</h3>
            <div class="jcarousel">
                <ul>
                    <li>
                        <div class="jcarousel__wrapper step1">
                            <div class="info">
                                <span class="info__count">Step 1</span>
                                <h3 class="info__title">Sed leo enim, condimentum</h3>
								<p class="info__desc">
									Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
								</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="jcarousel__wrapper step2">
                            <div class="info">
                                <span class="info__count">Step 2</span>
                                <h3 class="info__title">Morbi velit risus</h3>
								<p class="info__desc">
									Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
								</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="jcarousel__wrapper step3">
                            <div class="info">
                                <span class="info__count">Step 3</span>
                                <h3 class="info__title">Sed leo enim, condimentum</h3>
								<p class="info__desc">
									Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
								</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="arrows clearfix">
                    <span class="arrows__left jcarousel-prev"></span>
                    <span class="arrows__right jcarousel-next"></span>
                </div>
            </div>
            <div class="jcarousel">
                <ul>
                    <li>
                        <div class="jcarousel__wrapper step2">
                            <div class="info">
                                <span class="info__count">Step 2</span>
                                <h3 class="info__title">Morbi velit risus</h3>
								<p class="info__desc">
									Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
								</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="jcarousel__wrapper step3">
                            <div class="info">
                                <span class="info__count">Step 3</span>
                                <h3 class="info__title">Sed leo enim, condimentum</h3>
								<p class="info__desc">
									Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
								</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="jcarousel__wrapper step1">
                            <div class="info">
                                <span class="info__count">Step 1</span>
                                <h3 class="info__title">Sed leo enim, condimentum</h3>
								<p class="info__desc">
									Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
								</p>
                            </div>
                        </div>

                    </li>
                </ul>
                <div class="arrows clearfix">
                    <span class="arrows__left jcarousel-prev"></span>
                    <span class="arrows__right jcarousel-next"></span>
                </div>
            </div>
            <div class="jcarousel">
                <ul>
                    <li>
                        <div class="jcarousel__wrapper step3">
                            <div class="info">
                                <span class="info__count">Step 3</span>
                                <h3 class="info__title">Sed leo enim, condimentum</h3>
								<p class="info__desc">
									Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
								</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="jcarousel__wrapper step1">
                            <div class="info">
                                <span class="info__count">Step 1</span>
                                <h3 class="info__title">Sed leo enim, condimentum</h3>
								<p class="info__desc">
									Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
								</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="jcarousel__wrapper step2">
                            <div class="info">
                                <span class="info__count">Step 2</span>
                                <h3 class="info__title">Morbi velit risus</h3>
								<p class="info__desc">
									Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
								</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="arrows clearfix">
                    <span class="arrows__left jcarousel-prev"></span>
                    <span class="arrows__right jcarousel-next"></span>
                </div>
            </div>
    </section>
<section class="partners">
    <h3 class="headline">Meet a partner for your best holiday</h3>
        <div class="partners-wrapper">
            <div class="partners-item">
                <img class="partners-item__img" src="src/img/people1.jpg" alt="partner">
                <div class="partners-item__bg-icon red">
                    <div class="partners-item__icon tv"></div>
                </div>
                <h4 class="partners-item__title">Bradley Hunter</h4>
                <p class="partners-item__desc">Based in Chicago. I love playing tennis and loud music.</p>
            </div>
            <div class="partners-item">
                <img class="partners-item__img" src="src/img/people2.jpg" alt="partner">
                <div class="partners-item__bg-icon yellow">
                    <div class="partners-item__icon bong"></div>
                </div>
                <h4 class="partners-item__title">Lucas Marsha</h4>
					<p class="partners-item__desc">
						I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.
					</p>
            </div>
            <div class="partners-item">
                <img class="partners-item__img" src="src/img/people3.jpg" alt="partner">
                <div class="partners-item__bg-icon green">
                    <div class="partners-item__icon coffee"></div>
                </div>
                <h4 class="partners-item__title">Heather Walker</h4>
					<p class="partners-item__desc">
						I'm a happy person that loves cats and climbing on mountains.
					</p>
            </div>
            <div class="partners-item">
                <img class="partners-item__img" src="src/img/people4.jpg" alt="partner">
                <div class="partners-item__bg-icon blue">
                    <div class="partners-item__icon plane"></div>
                </div>
                <h4 class="partners-item__title">Bradley Hunter</h4>
                <p class="partners-item__desc">Based in Chicago. I love playing tennis and loud music.</p>
            </div>
        </div>
        <a href="#" class="partners__btn">See other partners</a>
</section>
    <section class="ideas">
            <h3 class="headline">Discover holiday activity ideas</h3>
        <!--Template-->
        </section>
    <section class="search">
            <h3 class="headline">Discover holiday activity ideas</h3>
            <p class="search__text">Hi! What are your holiday interests?</p>
            <form class="search__form" action="#" id="search">
                <input class="search__input" type="text" placeholder="Enter your interests">
                <input class="search__btn" type="submit" value= "Search partners"/>
            </form>
    </section>
    <footer class="footer">
        <div class="footer-wrapper">
        <a href="#" class="footer__logo">URLAUBSGLÜCK</a>
        <h4 class="footer-title">Company</h4>
        <ul class="footer-nav clearfix">
            <li class="footer-nav__item"><a href="#" class="footer-nav__link">About</a></li>
            <li class="footer-nav__item"><a href="#" class="footer-nav__link">Contacts</a></li>
            <li class="footer-nav__item"><a href="#" class="footer-nav__link">Press</a></li>
            <li class="footer-nav__item"><a href="#" class="footer-nav__link">Blog</a></li>
        </ul>
        <h4 class="footer-title--partners">Partners</h4>
        <div class="footer-copy">
            <span class="footer-copy__design">Designed by</span>
            <a class="footer-copy__img" href="#"></a>
        </div>
    </footer>
    <!--Template-->
        <script type="text/html" id="img-template">
        <div class="grid">
            <% for (var i = 0; i < images.length; i++) { %>
            <div class="grid-item
				<% if ((i==5)||(i==4)){%>
					grid-item--width2
					<%}%> animated zoomIn" style = "background: url(<%=images[i].imageurl%>) center no-repeat; background-size: 100% 100%">
                <span class="grid-item__text"><%=images[i].word%></span>
            </div>
            <%}; %></div>
    </script>
</body>
</html>