//@import "_normalize";


a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ClearFix */

.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}



/* Header */

  .header {
    height: 700px;
    background: url(../img/header.jpg) center no-repeat;
    background-size: cover;
    margin-bottom: 93px;
  }

  .header-top {
    width: 940px;
    height: 173px;
    margin: 0 auto;
    text-align: right;
  }

  .header-top__login {
    margin: 48px 2px 0 0;
    display: inline-block;
    width: 53px;
    height: 14px;
    color: white;
    font: bold 14px "Montserrat";
    &--signup {
      width: 90px;
      height: 36px;
      border: 2px solid white;
      border-radius: 18px;
      line-height: 32px;
      box-sizing: border-box;
      text-align: center;

      margin-top: 39px;
      margin-left: 18px;
      float: right;
    }
  }

  .header-top__logo {
    width: 177px;
    height: 20px;
    color: white;
    letter-spacing: 1px;
    font: bold 20px "Montserrat";
    text-transform: uppercase;

    margin-top: 45px;
    float: left;
  }

  .header-headline {
    width: 500px;
    margin: 7px auto;
    text-align: center;
  }

  .header-headline__h1 {

    height: 59px;
    color: white;

    text-transform: uppercase;
    display: inline-block;

    width: 500px;
    font: bold 52px/64px "Montserrat";
  }

  .header-headline__h2 {

    height: 36px;
    color: white;
    display: inline-block;

    width: 500px;
    margin: 29px 0 31px 0;
    font: 300 24px/36px "Roboto";
  }

  .header-headline__btn {
    width: 225px;
    height: 40px;
    background-color: #ff4e50;
    border-radius: 20px;
    color: white;
    font: 14px/40px "Montserrat";
    text-align: center;
    display: inline-block;
  }


  /* jCarousel */

  .sliders {
    width: 940px;
    margin: 34px auto 85px;
  }

  .headline {
    color: #1a1915;
    margin: 0 0 14px 0;
    font: bold 22px "Montserrat";
    text-align: center;
  }

  .jcarousel {
    width: 300px;
    height: 400px;
    float: left;
    border-radius: 4px;
    margin: 21px 20px 10px 0;
    overflow: hidden;
    position: relative;
      &:last-child {
        margin-right: 0;
      }

    ul {
      width: 20000em;
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      float: left;
    }
    //&:last-child {
    //  margin-right: 0;
    //}
  }

  .jcarousel__wrapper {
    width: 300px;
    height: 400px;
    margin:0 5px 0 0;
    border-radius: 4px;
    padding: 0 20px;
    box-sizing: border-box;
    color: #fff;
    background-position: center;
  }

  .step1 {
    background-image: url(../img/step1.jpg);
  }

  .step2 {
    background-image: url(../img/step2.jpg);
  }

  .step3 {
    background-image: url(../img/step3.jpg);
  }

  .arrows__left, .arrows__right {
    position: absolute;
    top: 153px;
    width: 30px;
    height: 55px;
    display: block;
    cursor: pointer;
    //width: 150px;
    //height: 240px;    /*top: -40px;*/
    //top: 0;
    //background-image: none;
  }

  .arrows__left:hover, .arrows__right:hover {
    opacity: 0.8;
  }

  .arrows__left:active, .arrows__right:active {
    opacity: 1;
  }

  .arrows__left, .arrows__right {
    background: url(../img/sprite.png);
  }

  .arrows__left {
    background-position: 0 68px;
    left: 20px;  /* float: left;*/
  }

  .arrows__right {
    background-position: 31px 68px;
    right: 20px;  /*float: right;*/
  }

  .info__count {
    width: 70px;
    height: 20px;
    margin:0 0 14px 0;
    padding: 0 14px;
    display: block;
    border-radius: 10px;
    background-color: #ff4e50;
    font: 10px/21px "Montserrat";
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.2px;
    box-sizing: border-box;
  }

  .info {
    height: 386px;
    display: table-cell;
    vertical-align: bottom;
  }

  .info__title {
    margin: 0;
    font: bold 24px/31px "Montserrat";
  }

  .info__desc {
    color: #acaaa8;
    display: block;
    margin: 10px 0 0 0;
    font: 300 14px/17px "Roboto";
  }

  /* Partners */

  .partners {
    width: 940px;
    margin: 0 auto 97px;
  }

  .partners-wrapper {
    overflow: hidden;
    //margin-bottom: 2px;
  }

  .partners-item {
    width: 220px;

    margin: 20px 20px 40px 0;
    //float: left;
    text-align: center;
    //margin-right: 20px;
    position: relative;
    float: left;

    &:last-child {
      margin-right: 0;
    }

  }

  .partners-item__img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #1a1915;
    display: inline-block;
  }

  .partners-item__bg-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 4px #fff;
    position: absolute;
    top: 85px;
    right: 46px;
    box-sizing: border-box;
    padding: 7px 7px 7px 8px;
  }

  .red {
    background-color: #ff4e50;
  }

  .green {
    background-color: #1cd7ad;
  }

  .yellow {
    background-color: #ffa507;
  }

  .blue {
    background-color: #4e73db;
  }

  .partners-item__icon {
    width: 16px;
    height: 16px;
    background: url(../img/sprite.png) no-repeat;
  }

  .tv {
    background-position: 0 0;
  }

  .coffee {
    background-position: 0 -17px;
  }

  .bong {
    background-position: 1px -32px;
  }

  .plane {
    background-position: -1px -49px;
  }

  .partners-item__title {
    margin: 14px 0 10px 0;
    display: block;
    font: bold 14px "Montserrat";
    color: #333;
  }

  .partners-item__desc {
    margin: 0;
    display: inline-block;
    font: 14px/17px 'Roboto';
    letter-spacing: 0.1px;
  }

  .partners__btn {
    width: 192px;
    height: 40px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #fff;
    border: 2px solid #ff4e50;
    font: bold 14px/36px "Montserrat";
    color: #ff4e50;
    display: block;
    box-sizing: border-box;
    text-align: center;
  }

  /* Ideas */

  .ideas {
    width: 940px;
    margin: 0 auto 76px;
  }

.grid {
  margin-top: 33px;
}

  .grid-item {
    //height: 310px;
    //width: 300px;
    width: 300px;
    height: 310px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font: bold 22px "Montserrat";
    color: #fff;
    text-align: center;
    margin: 0 0 20px 0;
  }
  .grid-item--width2 {
    width: 620px;
  }

  .grid-item__text {
    padding: 0 15px;
    width: inherit;
    height: inherit;
    display: table-cell;
    vertical-align: middle;
  }

  /* Search */

  .search {
    margin: 0 auto 90px;
    text-align: center;
  }

  .search__text {
    margin: 33px 0 38px;
    font-size: 18px;
    color: #333;
    letter-spacing: -0.2px;
  }

  .search__form {
    display: inline-block;
  }

  .search__input {
    width: 242px;
    height: 40px;
    margin:0 0 10px 0;
    padding: 0 15px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px #eee;
    border: solid 1px #ccc;
    box-sizing: border-box;
    //margin-right: 7px;
    font: 14px "Roboto";
  }

  .search__btn {
    width: 160px;
    height: 40px;
    padding: 0;
    font: bold 14px "Montserrat";
    border-radius: 20px;
    background-color: #ff4e50;
    color: #fff;
    outline: none;
    border: none;
  }


  /* Footer */

  .footer {
    //margin-top: 100px;
    width: 100%;
    margin: 0 auto;
    border-top: 4px solid #ff4e50;
    text-align: center;
    //padding: 36px 0 33px;
  }

  .footer-wrapper {
    width: 940px;
    margin: 0 auto;
  }

  .footer-title {
    margin: 11px 0 0 0;
    display: block;
    font: bold 14px "Montserrat";
    color: #333;

    margin: 36px 0 0 96px;
    float: left;
  }

  .footer-title--partners {
    display: block;
    font: bold 14px "Montserrat";
    color: #333;
    margin: 0;
    float: left;
    margin-left: 88px;
    margin-top: 36px;
  }

  .footer-nav {
    width: 211px;
    padding: 0;
    margin: 0 auto;


    margin-top: 64px;
    margin-left: -74px;
    float: left;
    width: 80px;
  }

  .footer-nav__item {
    padding: 0px 7px;
    float: left;
  }

  .footer-nav__link {
    color: #666;
    font: 14px/24px "Roboto";
  }

  .footer__logo {
    margin: 16px auto 0;
    margin: 36px auto 0;
    display: block;
    font: bold 16px "Montserrat";
    color: #ff4e50;
    letter-spacing: 0.8px;

    float: left;
    height: 50px;

  }

  .footer-copy {
    margin: 11px 0 18px 0;

    float: right;
    margin: 39px 0 18px 0;
  }

  .footer-copy__design {
    margin: 0 auto;
    display: block;
    font: bold 10px "Montserrat";
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 1px;

    margin-left: 29px;
  }

  .footer-copy__img {
    width: 110px;
    height: 24px;
    margin: 6px auto 0;
    display: block;
    background: url(../img/copy.png);
    //float: right;
    //-webkit-transition: background-position 0.2s ease-in;
    //transition: background-position 0.2s ease-in;

    //&:active {
    //  opacity: 0.5;
    //}
  }

@media only screen and (max-width:480px) {
  .header {
    height: 540px;
    margin-bottom: 0;
  }

  .header-top {
    width: 300px;
    text-align: center;
    margin-bottom: 28px;
  }

  .header-top__login {
    margin: 20px 8px 115px 1px;
  }

  .header-top__login--signup {
    float: none;
  }

  .header-top__logo {
    float: none;
  }

  .header-headline {
    width: 300px;
    margin: 7px auto;
    text-align: center;
  }

  .header-headline__h1 {
    width: 280px;
    font: bold 30px "Montserrat";
  }

  .header-headline__h2 {
    width: 217px;
    margin: 0 0 25px;
    font: 18px "Roboto";
  }

  .header-headline__btn {
    width: 280px;
  }

  .sliders {
    margin: 34px auto;
    width: 300px;
  }

  .jcarousel {
    height: 240px;
    margin: 0 0 10px 0;
  }

  .jcarousel__wrapper {
    height: 240px;
  }

  .info {
    height: 225px;
  }

  .partners {
    width: 300px;
  }
  .partners-item {
    margin: 0 auto 28px;
    float: none;
  }

  .partners__btn {
    width: 280px;
    margin: 0 auto 32px;
  }

  .ideas {
    width: 300px;
    margin: 0 auto 24px;
  }

  .grid {
    margin-top: 0;
  }

  .grid-item {
    height: 120px;
    margin-bottom: 10px;
  }

  .search {
    margin: 0 auto 40px;
  }

  .search__text {
    margin: 0 0 12px;
  }

  .search__input {
    width: 280px;
  }
  .search__btn {
    width: 280px;
  }
}